<!DOCTYPE html>
<html>
<head>
	<title>Car Index Page</title>
</head>
<body>
	<h4><a href="/cars/new">Create New Car</a></h4>

	<ul>
		<%for(let i = 0; i < cars.length; i++) {%>

		<li>
			<h3><a href="/cars/<%=cars[i].id%>"><%=cars[i].make%> <%=cars[i].model%></a></h3>

			<form method='POST' action='/cars/<%=cars[i].id%>/?_method=DELETE'>
				<button type='submit'>Delete <%=cars[i].make%> <%=cars[i].model%></button>
			</form>

			<form method='GET' action='/cars/<%=cars[i].id%>/edit'>
				<button type='submit'>Edit <%=cars[i].make%> <%=cars[i].model%></button>
			</form>

		</li>

		<% } %>

	</ul>


</body>
</html>